/* Global Styles */
body {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Countup Container */
.countup-container {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background-color: #0097E6;
}

.countup-item {
  flex: 1;
  text-align: center;
  padding: 20px;
  color: white;
}

/* General styling */
.body-container {
  /* height: 130vh; */
  /* background-color: #0097E6; */
  padding: 100px; /* 20px padding in general */
  width: 100%;
}

.car-container {
  position: relative;
  top: 0;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically centers the content */
  align-items: right; /* Horizontally centers the content */
  transform: translateY(94.8%) translateX(4.2%);
}



  .callback-card {
    position: relative;
    background-color: #34495E;
    width: 30%;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6), 0 1px 40px 0 rgba(0, 0, 0, 0.50);
    left: 70%;
    transform: translateX(-50%);
  }


  .background-image {
    position: "relative";
    background-image: url('../../front-end/src/images/middlesection.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200vh;
  }


  .calendar-pic {
    width: 35%;
    position: relative;
    transform: translateX(11.9%) translateY(160.6%);
    border-radius: 10px;
  }


  .panel-pics {
    position: relative;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #0097E6;
    justify-content: center;
  }

  .panel-pic {
    text-align: center;
    padding: 30px;
    color: white;
    border-radius: 40px;
    margin-right: 40px;
  }


  .admin-panel-pics {
    position: relative;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #0097E6;
    justify-content: center;
  }


  .admin-panel-pic {
    text-align: center;
    padding: 30px;
    color: white;
    border-radius: 40px;
    margin-right: 0px;
  }




  .blog-form {
    width: 25%;
    text-align: left;
    padding: 10px;
  }


  .blog-form-title {
    color: black;
    padding: 5px;
  }


  
  .new-blog-button {
    width: 10%;
    position: relative;
    transform: translateY(-12px) translateX(1167px);
  }


  
  .submit-update-blog {
    width: 30%;
    transform: translateX(50px);
  }


  
  .cancel-update-blog {
    width: 30%;
    position: relative;
    transform: translateX(170px) translateY(-42px);
  }


  
  .update-singleblog {
    position: absolute;
    justify-content: center;
    text-align: center;
    transform: translateY(-480px) translateX(680px);
  }


  
  .blog-videos {
    width: 60%;
    position: relative;
    transform: translateX(0%);
  }


  
  .like-button {
    color: grey;
    cursor: pointer;
    transition: color 0.5s;
    position: relative;
    transform: translateY(-11.7vh) translateX(1105px);
  }
  
  .like-button.liked {
    color: red;
  }
  
  .counter-like {
    color: grey;
    transition: color 0.5s;
    position: absolute;
    transform: translateY(-14.5vh) translateX(1133px);
  }


  
  .like-button-single {
    color: grey;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
    transform: translateY(-110px) translateX(1255px);
  }
  
  .like-button-single.liked {
    color: red;
  }
  
  .counter-like-single {
    color: grey;
    transition: color 0.3s;
    position: absolute;
    transform: translateY(-138px) translateX(1283px);
  }



  .comment-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .comment-card {
      width: 60%;
      margin-bottom: 5px;
  }

  .comment-body {
      display: flex;
      align-items: flex-start;
  }

  .user-picture {
      position: relative;
      transform: translateY(10px) translateX(10px);
      width: 80px;
      height: 80px;
      border-radius: 100%;
      margin-right: 5%;
  }

  .comment-form {
      width: 1450px;
  }



  .comment-button {
      position: absolute;
      transform: translateY(-43px) translateX(455px);
      width: 6%;
  }

.single-line-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid gray; /* Add a border at the bottom to achieve the line effect */
  resize: none; /* Disable textarea resizing */
  padding: 5px; /* Add some padding for spacing */
  font-size: 16px; /* Adjust font size as needed */
}


  .blog-time-line {
  position: absolute;
  transform: translateY(-120%);
  }



  .blog-date {
    position: absolute;
    transform: translateX(52.7vh) translateY(-9.4vh);
    color: grey
  }

  

  .single-blog-time-line {
    width: 70%;
    position: absolute;
    transform: translateY(-103%) translateX(-1.3%);
    }

    
  .sigle-blog-date {
    position: absolute;
    transform: translateX(62.4vh) translateY(-10.6vh);
    color: grey
  }

    
  .comment-date {
    position: absolute;
    transform: translateX(54vh) translateY(-1vh);
    color: grey;
  }

    
  .edit-delete {
    position: absolute;
    transform: translateX(56.5vh) translateY(-3.8vh);
  }


  .edit-delete-modal {
    position: absolute;
    transform: translateX(25.8vh) translateY(-3.3vh);
  }


  .blog-item .like-button {
    transform: translateY(-11.5vh) translateX(1105px);
  }
  
  /* Adjust the counter for the second blog and onwards */
  .blog-item .counter-like {
    transform: translateY(-14.3vh) translateX(1133px);
  }


  .update-american {
    position: absolute;
    transform: translateY(-69.5vh) translateX(86vh);
  }


  .update-american-answer {
    padding: 3%;
    position: relative;
    transform: translateX(-13vh);
  }


  .new-american-button {
    width: 12%;
    position: relative;
    transform: translateY(-12px) translateX(985px);
  }


  .new-american-subject-button {
    width: 12%;
    position: relative;
    transform: translateY(-12px) translateX(930px);
  }


  .american-subject-card {
    width: 50%;
    margin: 0 auto;
  }


  .american-subject-card-text {
    position: relative;
    transform: translateX(35px);
  }


  .profile-american-subject-card-text {
    position: relative;
  }

  
  .american-quiz-card {
    position: relative;
  }


  .american-quiz-answers {
    position: relative;
  }


  .american-container {
    width: 40%;
    margin: 0 auto;
  }
  

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }


  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .points-count-quiz {
    font-size: 15rem;
    font-family: 'Georgia, serif';
  }


  .redirected {
    position: absolute;
    transform: translateY(200px);
  }


  .card-with-bg-image {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  
  .circle-container {
    display: flex;
    align-items: center;
  }

  
  .circle-container-forum {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
  }

  
  .circle {
    z-index: 1;
    background: #ffffff;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .user-comments-card-pic {
    border-radius: 7px;
    width: 30%;
  }
  

  .user-comments-card-pic-thumb {
    position: absolute;
    border-radius: 7px;
    width: 29%;
  }


  .user-comments-card-header {
    display: flex;
    cursor: pointer;
  }


  .user-comments-card-title {
    margin-bottom: 30%;
    margin-left: 10%;
    width: 100%;
  }

  .user-comments-card-desc {
    margin-left: 10%;
    width: 100%;
  }


  .user-comments-card-date {
    font-size: 0.8rem;
    position: relative;
    transform: translateX(48vh);
  }
  


  .user-comments-card {
    width: 100%;
    margin-bottom: 20px;
  }
  
  
  .progress-bar {
    width: 51%;
  }
  
  
  .progress-bar-forum {
    width: 77.7%;
  }


  .scrollbar-user-comments {
    width: 60%;
    overflow-y: auto;
    max-height: 667px;
  }
  


  .user-single-comment {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
  }




  .scrollbar-user-comments {
    /* Add a scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #ccc #eee;
  
    /* Add a shadow */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
  }
  
  .scrollbar-user-comments::-webkit-scrollbar {
    width: 10px;
  }
  
  .scrollbar-user-comments::-webkit-scrollbar-track {
    background-color: #eee;
  }
  
  .scrollbar-user-comments::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
  

  .scrollbar-pic {
    width: 100%;
    position: relative;
    transform: translateX(19.5%);
  }
  

  .scrollbar-pic-quiz {
    width: 100%;
    position: relative;
    transform: translateX(11%);
  }
  

  .profile-hierarchy {
    position: absolute;
    width: 50%;
    transform: translateX(115vh) translateY(-96.7vh);
    overflow: hidden;
  }
  

  .forum-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18rem;
    position: relative;
    transform: translateX(-14vh);
  }
  
  .forum-item {
    width: 18rem;
    flex-grow: 1;
    flex-basis: 200;
    cursor: pointer;
  }

  
  .forum-progressbar {
    position: relative;
    transform: translateY(-4.3vh);
  }


  .pagination-container {
    position: relative;
    transform: translate(-4.1vh, -5vh);
    justify-content: center;
    text-align: center;
    display: flex;
  }

  
  

/* Responsive Styling */
@media (max-width: 768px) {

  .user-icon-top {
    top: 5;
  }


  .countup-container {
    flex-direction: column;
    padding: 10px;
  }

  .countup-item {
    flex: none;
  }

  /* Apply 0 padding for mobile */
  .car-container {
    width: 200%;
    position: relative;
    top: 0;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    transform: translateY(50%) translateX(-22%);
  }

  
  
  
    .callback-card {
      width: 200%;
      position: relative;
      background-color: #34495E;
      border-radius: 15px;
      padding: 15px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6), 0 1px 40px 0 rgba(0, 0, 0, 0.50);
      transform: translateX(-60%) translateY(175%);
    }

    .calendar-pic {
      width: 200%;
      position: relative;
      transform: translateX(-25%) translateY(350%);
      border-radius: 10px;
    }
  
    .background-image {
      position: "relative";
      background-image: url('../../front-end/src/images/middlesection.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 300vh;
    }


    .panel-pics {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  
  
    .panel-pic {
      flex: none;
      margin-right: 0px;
    }

    .blog-form {
      padding: 20px;
      width: 100%;
      text-align: center;
    }

    .user-icon-top {
      position: relative;
      transform: translateY(2px);
    }

    .blog-table {
      position: relative;
    }
    
  
    .new-blog-button {
      width: 28%;
      position: relative;
      transform: translateY(-12px) translateX(291px);
    }

  
  .submit-update-blog {
    width: 30%;
    transform: translateX(0px);
  }


  .cancel-update-blog {
    width: 45%;
    position: relative;
    transform: translateX(-2px) translateY(20px);
  }


  .update-singleblog {
    position: relative;
    transform: translateX(-0.3%) translateY(0%);
    justify-content: center;
    text-align: center;
  }

  
  .blog-videos {
    width: 90%;
    position: relative;
  }

  
  .like-button {
    color: grey;
    cursor: pointer;
    transition: color 0.5s;
    position: absolute;
    right: 0;
    transform: translateY(-730%) translateX(-5px);
  }
  

  .like-button.liked {
    color: red;
  }
  
  .counter-like {
    color: grey;
    transition: color 0.5s;
    position: absolute;
    right: 0;
    transform: translateY(-163px) translateX(3px);
  }


  .comment-card {
    width: 100%;
    margin-bottom: 1px;
  }


  .comment-form {
    width: 580px;
  }


  .comment-button {
    position: absolute;
    transform: translateY(-43px) translateX(405%);
    width: 13%;
  }
  

  .blog-date {
    position: absolute;
    justify-content: center;
    text-align: center;
    color: grey;
    transform: translateX(14vh) translateY(-60px);
  }

  

  .single-blog-time-line {
    width: 97.3%;
    position: absolute;
    transform: translateY(-103%) translateX(-1.3%);
    }

    
  .sigle-blog-date {
    position: absolute;
    transform: translateX(18.6vh) translateY(-7.5vh);
    color: grey
  }

    
  .comment-date {
    position: absolute;
    transform: translateX(16.5vh) translateY(-1vh);
    color: grey;
  }

    
  .edit-delete {
    position: absolute;
    transform: translateX(19.5vh) translateY(-62%);
  }

    
  .edit-delete-modal {
    position: absolute;
    transform: translateX(-10.2vh) translateY(-24%);
  }

  
  .blog-item .like-button {
    transform: translateY(-430%) translateX(-15px);
  }
  
  /* Adjust the counter for the second blog and onwards */
  .blog-item .counter-like {
    transform: translateY(-397%) translateX(-5px);
  }


  .update-american {
    position: relative;
    justify-content: center;
    text-align: center;
    transform: translateY(13vh);
  }


  .update-american-answer {
    padding: 3%;
    position: relative;
    transform: translateX(-13vh);
  }


  .new-american-button {
    width: 38%;
    position: relative;
    transform: translateY(-7px) translateX(90px);
  }


  .new-american-subject-button {
    width: 38%;
    position: relative;
    transform: translateY(5px) translateX(0px);
  }


  .american-subject-card {
    justify-content: center;
    width: 100%;
    padding: 5%;
  }
  

  .american-subject-card-text {
    position: relative;
    transform: translateX(0px)
  }
  

  .american-container {
    width: 100%;
  }
  

  .congrats-image {
    width: 90%;
    height: 90%;
   }
  

  .congrats-message-image {
    width: 90%;
    height: 90%;
   }


   .points-count-quiz {
    font-size: 10rem;
    font-family: 'Georgia, serif';
  }

  
  .redirected {
    position: absolute;
    transform: translateY(130px);
  }


  .user-comments-card-pic {
    border-radius: 7px;
    width: 70%;
    margin-left: 0%;

  }

  .user-comments-card-title {
    margin-left: 4%;
  }

  .user-comments-card-desc {
    margin-left: 4%;
  }

  .user-comments-card-date {
    margin-left: 4%;
  }

  .user-comments-card {
    width: 100%;
  }

  .user-comments-nopic {
    flex-direction: column;
    text-align: left;
    justify-content: center;
    display: flex;
  }


  .scrollbar-user-comments {
    width: 100%;
  }


  .progress-bar {
    width: 80%;
  }


  .scrollbar-pic {
    justify-content: center;
    text-align: center;
    position: relative;
    margin-left: -25%;
  }


  .profile-hierarchy {
    position: relative;
    width: 100%;
    transform: translateX(0vh) translateY(10vh);
  }


  .scrollbar-pic-quiz {
    width: 100%;
    position: relative;
    transform: translateX(0%);
  }


  .scrollbar-pic {
    width: 100%;
    position: relative;
    transform: translateX(26%);
  }


  .pagination-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -170%);
    display: flex;
    justify-content: center;
  }

}
