/* Global Styles */
body {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Countup Container */
.countup-container {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background-color: #0097E6;
}

.countup-item {
  flex: 1;
  text-align: center;
  padding: 20px;
  color: white;
}

/* General styling */
.body-container {
  /* height: 130vh; */
  /* background-color: #0097E6; */
  padding: 100px; /* 20px padding in general */
  width: 100%;
}

.car-container {
  position: relative;
  top: 0;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically centers the content */
  align-items: right; /* Horizontally centers the content */
  transform: translateY(94.8%) translateX(4.2%);
}



  .callback-card {
    position: relative;
    background-color: #34495E;
    width: 30%;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6), 0 1px 40px 0 rgba(0, 0, 0, 0.50);
    left: 70%;
    transform: translateX(-50%);
  }


  .background-image {
    position: "relative";
    background-image: url('../../front-end/src/images/middlesection.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200vh;
  }


  .calendar-pic {
    width: 35%;
    position: relative;
    transform: translateX(11.9%) translateY(160.6%);
    border-radius: 10px;
  }


  .panel-pics {
    position: relative;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #0097E6;
    justify-content: center;
  }


  .panel-pic {
    text-align: center;
    padding: 30px;
    color: white;
    border-radius: 40px;
  }


  .blog-form {
    width: 25%;
    text-align: left;
    padding: 10px;
  }


  .blog-form-title {
    color: black;
    padding: 5px;
  }


  
  .new-blog-button {
    width: 10%;
    position: relative;
    transform: translateY(-12px) translateX(1167px);
  }


  
  .submit-update-blog {
    width: 30%;
    transform: translateX(50px);
  }


  
  .cancel-update-blog {
    width: 30%;
    position: relative;
    transform: translateX(170px) translateY(-42px);
  }


  
  .update-singleblog {
    position: absolute;
    justify-content: center;
    text-align: center;
    transform: translateY(-480px) translateX(680px);
  }


  
  .blog-videos {
    width: 60%;
    position: relative;
    transform: translateX(0%);
  }


  
  .like-button {
    color: grey;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
    transform: translateY(-110px) translateX(1105px);
  }
  
  .like-button.liked {
    color: red;
  }
  
  .counter-like {
    color: grey;
    transition: color 0.3s;
    position: absolute;
    transform: translateY(-138px) translateX(1133px);
  }


/* Responsive Styling */
@media (max-width: 768px) {

  .user-icon-top {
    top: 5;
  }


  .countup-container {
    flex-direction: column;
    padding: 10px;
  }

  .countup-item {
    flex: none;
  }

  /* Apply 0 padding for mobile */
  .car-container {
    width: 200%;
    position: relative;
    top: 0;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    transform: translateY(50%) translateX(-22%);
  }

  
  
  
    .callback-card {
      width: 200%;
      position: relative;
      background-color: #34495E;
      border-radius: 15px;
      padding: 15px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6), 0 1px 40px 0 rgba(0, 0, 0, 0.50);
      transform: translateX(-60%) translateY(175%);
    }

    .calendar-pic {
      width: 200%;
      position: relative;
      transform: translateX(-25%) translateY(350%);
      border-radius: 10px;
    }
  
    .background-image {
      position: "relative";
      background-image: url('../../front-end/src/images/middlesection.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 300vh;
    }

    .panel-pics {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  
  
    .panel-pic {
      flex: none;
    }

    .blog-form {
      padding: 20px;
      width: 100%;
      text-align: center;
    }

    .user-icon-top {
      position: relative;
      transform: translateY(2px);
    }

    .blog-table {
      position: relative;
    }
    
  
    .new-blog-button {
      width: 28%;
      position: relative;
      transform: translateY(-12px) translateX(291px);
    }

  
  .submit-update-blog {
    width: 30%;
    transform: translateX(0px);
  }


  .cancel-update-blog {
    width: 45%;
    position: relative;
    transform: translateX(-2px) translateY(20px);
  }


  .update-singleblog {
    position: relative;
    transform: translateX(-0.3%) translateY(0%);
    justify-content: center;
    text-align: center;
  }

  
  .blog-videos {
    width: 90%;
    position: relative;
  }

  
  .like-button {
    color: grey;
    cursor: pointer;
    transition: color 0.3s;
    position: absolute;
    right: 0;
    transform: translateY(-105px) translateX(-5px);
  }
  

  .like-button.liked {
    color: red;
  }
  
  .counter-like {
    color: grey;
    transition: color 0.3s;
    position: absolute;
    right: 0;
    transform: translateY(-101px) translateX(3px);
  }
    
}
